@using QuickRent.Models;
@model QuickRent.Models.Car

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Create a car for rent</h2>
    </div>

    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>

        <div class="form-row" >
            <div class="form-group col-md-6">
                <label asp-for="Description">Car Description</label>
                <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Enter Description">
                <span asp-validation-for="Description" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CarsClasses">Pick a Car Class</label>
                <select  class="form-control mb-3" asp-items="Html.GetEnumSelectList<CarsClasses>()" asp-for="CarsClasses" placeholder="Enter Car"></Select>
                <span asp-validation-for="CarsClasses" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Fuel">Fuel usage</label>
                <input type="text" class="form-control mb-3" asp-for="Fuel" placeholder="Enter Fuel usage">
                <span asp-validation-for="Fuel" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ImageUrl">ImageUrl</label>
                <input type="file" name="file" class="form-control mb-3" asp-for="ImageUrl" placeholder="Enter Image">
                <span asp-validation-for="ImageUrl" class=" alert-danger"></span>
            </div>
            @*<div class="form-group col-md-6 mb-3">
                <label asp-for="Color">Color</label>
                <input type="Text" class="form-control" asp-for="Color">
                <span asp-validation-for="Color" class=" alert-danger"></span>
            </div>*@
        </div>

        @*<div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Weight">Weight</label>
                <input type="text" class="form-control mb-3" asp-for="Weight" placeholder="Enter Weight">
                <span asp-validation-for="Weight" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ImageUrl">ImageUrl</label>
                <input type="file" name="file" class="form-control mb-3" asp-for="ImageUrl" placeholder="Enter ImageUrl">
                <span asp-validation-for="ImageUrl" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Height">Height</label>
                <input type="text" class="form-control mb-3" asp-for="Height" placeholder="Enter Weight">
                <span asp-validation-for="Height" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="BreedId">Breed</label>
                <select asp-for="BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="BreedId" class=" alert-danger"></span>
            </div>
        </div>*@


        <input type="submit" value="Create" class="btn btn-primary" />
        @*@<button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Save</button>*@
        @*  <a asp-controller="Dogs" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>*@
    </form>

</div>





